colorama
tabulate
varname
pandas

asciichartpy
plotly

scipy

lmfit
bumps
dfo-ls

gemmi
sympy

cryspy
diffpy.utils
diffpy.pdffit2

asteval

pytest
pytest-xdist

mkdocs
mkdocs-material 
mkdocs-autorefs<1.3.0
mkdocs-jupyter 
mkdocs-plugin-inline-svg 
mkdocs-markdownextradata-plugin 
mkdocstrings-python 
pyyaml
